# Data Science Tools and Ecosystem

**Exercise 2:** In this notebook, Data Science Tools and Ecosystem are summarized.

**Exercise 3:** Objectives


- List popular languages for Data Science  
- List commonly used libraries in Data Science  
- Create tables with Data Science Tools  
- Demonstrate arithmetic expressions in Python  
- Convert minutes to hours

**Exercise 4:** Some of the popular languages that Data Scientists use are:


1. Python  
2. R  
3. SQL  
4. Julia

**Exercise 5:** Some of the commonly used libraries used by Data Scientists include:


1. Pandas  
2. NumPy  
3. Matplotlib  
4. Scikit-learn

**Exercise 6:** Data Science Tools

In [ ]:

from tabulate import tabulate

# Creating a simple table of Data Science Tools
tools = [["RStudio"], ["Apache Spark"], ["TensorFlow"]]

print(tabulate(tools, headers=["Data Science Tools"], tablefmt="grid"))

**Exercise 7:** Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:

# Example 1: Addition
2 + 3

In [ ]:

# Example 2: Multiplication
5 * 6

**Exercise 8:** This is a simple arithmetic expression to multiply then add integers

In [ ]:

# Multiply 3 by 4 and then add 5
result = (3 * 4) + 5
result

**Exercise 9:** This will convert 200 minutes to hours by dividing by 60

In [ ]:

# Convert minutes to hours
minutes = 200
hours = minutes / 60
hours

**Exercise 10:** Objectives Recap


- List popular languages for Data Science  
- List commonly used libraries in Data Science  
- Create tables with Data Science Tools  
- Demonstrate arithmetic expressions in Python  
- Convert minutes to hours

**Exercise 11:** Author

**Author:** Ajeet Singh